<div class="card">
  <p-dataView #dv [value]="posts" [paginator]="true" [rows]="9" filterBy="title" layout="list">
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                </span>
      </div>
    </ng-template>
    <ng-template let-posts pTemplate="listItem">
      <div class="p-col-12">
        <div class="product-list-item">
          <div class="product-list-detail p-grid">
            <div class="p-col-10">
            <div class="product-name p-col-12">Title: {{posts.title}}</div>
              <div class="product-description p-col-6">Author: {{posts.author}}</div>
            </div>
            <div class="p-col-2">
              <a href='{{posts.url}}' target="_blank"><button pButton type="button" style="float: right; margin-top: 20px;" icon="pi pi-chevron-right" iconPos="left"></button></a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
